@import url('https://rsms.me/inter/inter.css');

@import "./utils/functions";
@import "./utils/mixins";

html {
  @apply relative h-screen font-sans;

  body {
    min-width: 320px;
    margin: 0 auto;
  }
}

.z-show-animated {
  transition: z-index 0.5s step-start;
  &:not(.z-show-animated--show) {
    transition: z-index 0.5s step-end;
    z-index: -1;
  }
}

@import "./parts/loaders";
@import "./parts/toasted";
@import "./parts/tooltip";
