.ld-eclipse {
    @apply absolute top-0 left-0 z-30 w-full h-full flex justify-center items-center;
    background-color: rgba(#d8d8d8, 0.05);
}

.lds-ripple {
    display: inline-block;
    width: remy(80);
    height: remy(80);
    position: sticky;
    top: remy(150);
    bottom: remy(150);
    margin: remy(50);

    div {
        position: absolute;
        border: 4px solid;
        opacity: 1;
        border-radius: 50%;
        animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
        @apply border-red-dark;
        &:nth-child(2) {
            animation-delay: -0.5s;
        }
    }
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

    div {
        display: inline-block;
        position: absolute;
        left: 8px;
        width: 16px;
        @apply bg-red-dark;
        animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;

        &:nth-child(1) {
            left: 8px;
            animation-delay: -0.24s;
        }

        &:nth-child(2) {
            left: 32px;
            animation-delay: -0.12s;
        }

        &:nth-child(3) {
            left: 56px;
            animation-delay: 0s;
        }
    }
}

@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }
    50%, 100% {
        top: 24px;
        height: 32px;
    }
}

.fixed-loader {
    transition: right 0.5s;
    right: remy(-150);
    &.open {
        right: 0;
    }
}


@keyframes animation-spin {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.refresh-indicator {
  animation: animation-spin 4s linear;
  animation-iteration-count: 0;

  &.animated {
    animation-iteration-count: infinite;
  }
}
